.App {
  text-align: center;
}
.body{
 background: #eee;
 font-family: sans-serif;
}
.row{
  display: flex;
  width:80%;
  margin: 0 auto;
  background: #fff;
  border-bottom: 4px solid rgb(129,129,129);
}
.NewConfirmed,
.NewRecovered,
.NewDeaths,
.TotalConfirmed,
.TotalRecovered,
.TotalDeaths{
padding: 20px;
text-align:center;
margin: 0 auto;
}
.NewConfirmed{
  color: orangered;
 
}
.TotalConfirmed{
  color:orchid ;
 
}
.NewDeaths{
  color:maroon ;
 
}
.TotalDeaths{
  color: red;
 
}
.NewRecovered{
  color: green;
 
}
.TotalRecovered{
  color:greenyellow ;
 
}
table{
  border-collapse: separate;
  width:80%;
  margin: 0 auto;
  border-spacing: 0 12px;
}
table thead tr{
  background: #fff;
}
table thead tr th{
  padding: 20px;
  text-align: left;
}
table tbody td{
background: #fff;
}
table thead tr td{
  padding: 12px;
  text-align:left;
}